.App {
    padding: 10px;
    background-color: #fdfbda;
    height: auto;
    min-height: 100vh;
}

/*Toolbar*/

.toolbar {
    height: 60px;
    width: 100%;
    background-color: #2d4659;
    color: #fdfbda;
    font-size: 15px;
}

.registerDiv:hover {
    cursor: pointer;
    background-color: #819f7f;
    height: 60px;
    width: 100%;
}

.loginDiv:hover {
    cursor: pointer;
    background-color: #819f7f;
    height: 60px;
    width: 100%;
}

.mainDiv:hover {
    cursor: pointer;
    background-color: #819f7f;
    height: 60px;
    width: 80%;
}

.divHover:hover {
    cursor: pointer;
    background-color: #819f7f;
    height: 60px;
    width:100%;
}


/*Login*/
.loginField {
    height: 300px;
    width: 500px;
    background-color: #d3d0a8;
}

.loginField input {
    width: 80%;
    height: 30px;
}

.loginField button {
    width: 80%;
    height: 40px;
    background-color: #2d4659;
    color: #fdfbda;
    border: none;
    font-size: 15px;
}

/*Register*/
.registerField {
    height: 400px;
    width: 500px;
    background-color: #d3d0a8;
    margin-top: 60px;
}

.registerField input {
    width: 80%;
    height: 30px;
}

.registerField button {
    width: 80%;
    height: 40px;
    background-color: #2d4659;
    color: #fdfbda;
    border: none;
    font-size: 15px;
}

/*Profile*/
.userProfile {
    height: 400px;
    width: 600px;
    border: 1px solid #2d4659;
    margin-top: 20px;
    color: #fdfbda;
    background-color: #819f7f;
}

.userProfile img {
    height: 200px;
    width: auto;
}

.postButton {
    width: 100%;
    height: 40px;
    background-color: #2d4659;
    color: #fdfbda;
    border: none;
    font-size: 15px;
    margin: 20px 10px;
}

.changePhotoButton {
    width: 80%;
    height: 40px;
    background-color: #2d4659;
    color: #fdfbda;
    border: none;
    font-size: 15px;
    margin: 10px;
}

.modal {
    z-index: 999;
    position: fixed;
    background-color: rgba(129, 159, 127, 0.8);
    height: 100%;
    width: 100%;
    top: 0;
    backdrop-filter: blur(2px);
}

.modalBox {
    height: 250px;
    width: 350px;
    background-color: #fdfbda;
}

.modalBox input {
    width: 80%;
    height: 30px;
}

.modalBox button {
    width: 80%;
    height: 40px;
    background-color: #2d4659;
    color: #fdfbda;
    border: none;
    font-size: 15px
}

/*Modal*/

.topicModal {
    width: 100%;
    height: 60px;
    background-color: #fdfbda;
    border: 1px solid #819f7f;
}

.topicModal input {
    width: 60%;
    height: 70%;
}

.topicModal button {
    width: 150px;
    height: 40px;
    background-color: #2d4659;
    color: #fdfbda;
    border: none;
    font-size: 15px;
}

/*Main Forum*/

.mainForumField {
    height: auto;
    width: 100%;
    background-color: #2d4659;
    color: #fdfbda;
    font-size: 15px;
    margin-top: 20px;
}

.topicHeader {
    width: 80%;
    height: 30px;
    margin-top: 30px;
    background-color: #819f7f;
    color: #fdfbda;
    font-size: 12px;
    padding: 5px;
}

.topicHeadline {
    font-size: 25px;
}

.forumBox {
    height: 120px;
    width: 80%;
    border: 2px solid #819f7f;
    margin: 10px;
    background-color: #fdfbda;
    color: #2d4659;
}

.favoriteIcon {
    font-size: 20px;

}

/*One Topic*/
.oneTopicField {
    height: auto;
    width: 100%;
    background-color: #2d4659;
    color: #fdfbda;
    font-size: 15px;
    margin-top: 20px;
}

.topic {
    height: 100px;
    width: 80%;
    border: 1px solid #819f7f;
    margin: 10px 0;
}

.replyField {
    width: 100%;
    height: auto;
}

.replyBox {
    height: auto;
    width: 80%;
    margin: 10px;
    border: 1px solid #819f7f;
    background-color: #fdfbda;
    color: #2d4659;
}

.replyInputs {
    background-color: #fdfbda;
    width: 80%;
    padding: 10px;
}

.replyInputs input {
    width: 80%;
    height: 30px;
    margin: 5px 0;
}

.replyInputs button {
    width: 40%;
    height: 40px;
    background-color: #2d4659;
    color: #fdfbda;
    border: none;
    font-size: 15px;
}

.replyImg {
    height: 100%;
    width: 100%;
    border-right: 1px solid #2d4659;
}

.replyImg img {
    width: 200px;
    box-sizing: border-box;
}

.reply {
    height: 150px;
    width: auto;
    padding: 10px;
    margin-left: 20px;
}

.reply img {
    height: 150px;
    width: auto;
}

.replyImg {
    background-color: #819f7f;
    padding: 10px;
    height: 100%;
}

.page-item .page-link {
    background-color: #819f7f;
    border-color: #fdfbda;
    color: #fdfbda;
}

.page-item.active .page-link {
    background-color: #819f7f !important;
    border-color: #fdfbda !important;
    color: #fdfbda !important;
    box-shadow: none;
}

.page-item:focus .page-link {
    background-color: #819f7f;
    margin: 10px;
    color: #819f7f;
    box-shadow: none !important;
    outline: none !important;
    border-color: #fdfbda;
}

.page-item.active:focus .page-link {
    background-color: #819f7f;
    margin: 10px;
    color: #819f7f;
    box-shadow: none !important;
    outline: none !important;
    border-color: #fdfbda;
}

.page-item .active {
    background-color: #2d4659;
}


/*Notification*/

.notificationBadge {
    z-index: 999;
    position: fixed;
    background-color: rgba(129, 159, 127);
    border: 1px solid #2d4659;
    color: #fdfbda;
    height: auto;
    width: 30%;
    top: 100px;
    left: 0;
    margin-left: 10px;
    padding: 5px 10px;
}

.notificationText {
    font-size: 20px;
}

.notificationTextTwo {
    color: #2d4659;
}

/*Main classes*/
.d-flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.al-center {
    align-items: center;
}

.s-between {
    justify-content: space-between;
}

.s-around {
    justify-content: space-around;
}

.s-evenly {
    justify-content: space-evenly;
}

.f-column {
    flex-direction: column;
}

.f-column-rev {
    flex-direction: column-reverse;
}

.flex1 {
    flex: 1
}

.flex2 {
    flex: 2
}

.flex4 {
    flex: 4
}

.flex6 {
    flex: 6
}

.vh-100 {
    height: 100vh !important;
}

.h-auto {
    height: auto;
}

.min-vh-100 {
    min-height: 100vh;
}

.mt-30 {
    margin-top: 30px;
}

@media (max-width: 576px) {
    .f-md-column {
        flex-direction: column;
    }
    .topicHeader {
        visibility: hidden
    }
    .h-md-auto {
      height: auto;
    }
    .f-md-size-12 {
        font-size: 12px;
    }
    .f-md-size-20 {
        font-size: 20px;
    }
    .topicModal {
        height: 150px;
        justify-content: space-evenly;
    }
    .topicModal input {
        height: 30%;
        width: 80%;
    }
    .replyImg img {
        width: auto;
        height: 80px;
    }

    .replyInputs button {
        width: 80%;
    }

}

@media (min-width: 576px) {
    .text-lg-none {
        display:none;
    }
}


